@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

/* Доделать оформление CSS так, чтобы максимально подходило под дизайн картинки
с использованием технологии float
Пока таблицы не используем и index не меняем */

* {
    margin: 0;
}

body {
    font-family: 'Poller One', cursive;
    background-image: url('../images/sky.jpg');
    color: #eedb00;
    background-attachment: fixed;
}

header, footer {
    background-color: rgba(60, 69, 67, 0.6);
}

header {
    border-radius: 16px 16px 0 0;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 0.5em;
}

nav {
    position: fixed;
    top: 5px;
    left: 40px;
}

nav > ul {
    list-style:none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    border: 2px solid black;
    background-color: rgba(204, 3, 35, 0.5);
    cursor: pointer;
    font-size: 1em;
    padding: 0.3em 0.5em;
    border-radius: 5px;
}

.left {
    float: left;
}

.right {
    float: right;
}

footer {
    border-radius: 0 0 16px 16px;
    clear: both;
}


