@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poller One', cursive;
    background-image: url('../images/sky.jpg');
    color: #eedb00;
    background-attachment: fixed;
}

header, footer {
    background-color: rgba(60, 69, 67, 0.6);
}

header {
    border-radius: 16px 16px 0 0;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding-top: 0.7em;
    padding-bottom: 0.4em;
}

nav {
    position: fixed;
    top: 5px;
    left: 40px;
}

nav > ul {
    list-style: none;
    padding: 0;
}

.button {
    display: inline-block;
    border: 2px solid black;
    background-color: rgba(204, 3, 35, 0.5);
    cursor: pointer;
    font-size: 0.8em;
    padding: 0.3em 0.5em;
    border-radius: 5px;
}

.left {
    float: left;
    margin: 0.3rem 1.2rem 0 0;
    width: 25%;
}

.left > img {
    width: 100%;
    box-shadow: 11px 10px 7px -1px rgba(255, 255, 255, 0.41);
}

.right {
    width: 50%;
    float: right;
    border: #eedb00 1px solid;
    border-radius: 0 0 16px 16px;
    padding-left: 0.1rem;
    margin: 5px 5px 0 10px;
}

.right > h2 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    text-align: center;
}

table {
    border-collapse: collapse;
}

img[alt="Friend"] {
    border-radius: 0.8rem;
    padding: 0.1rem 0.2rem;
}

.far-galaxy {
    text-align: justify;
    font-size: 1.7rem;
    line-height: 1.6;
    letter-spacing: 0.1rem;
}

footer {
    border-radius: 0 0 16px 16px;
    height: 5em;
    clear: both;
    padding: 5px 40px;
    text-align: right;
    margin-top: 10px
}




